body {
    display: flex;
    flex-direction: column;
    background-color: #f1ebeb;
    color: black;
    max-width: 50em;
    padding: 10px;
    margin: 0 auto;
}


.icon-links {
    width: 100%;
    text-decoration: none;
}

.icon-link {
    width: 100%;
    text-decoration: none;
    color: black;
}

.icon-link-image {
    width: 2em;
    height: 2em;
    margin-right: 1em;
    text-decoration: none;
    color: black;
}

.icon-link-image:hover {
    transform: scale(1.2);
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


button {
    background: none;
    border: none;
    outline: none;
    display: inline;
    padding: 0;
    margin: 0;
    transition: none;
}

button span {
    font-size: 1.2em;
}

.modal {
    display: none;
    position: absolute;
    width: 40em;
    left: 50%;
    margin-left: -20em;
    top: -3%;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.copy-icon {
    width: 1em;
    height: 1em;
}

.copy-button:hover {
    transform: scale(1.2);
}

button[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

button[data-tooltip]:active:after {
    opacity: 1;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}

.section {
    color: white;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}


.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 50em;
}